{% load static   %}

<!--

<h3> Hello World </h3>

<img src="{% static 'images/202313510.png' %}" >

-->





<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>My Portfolio</title>
    
    <link href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  


</head>
<body>

    <br>

    <div class = "container">
        <br>
            <div class="row">

                <div class="col-md-3">

                    <div class="card card-body h-100  border-info" id="profile-wrapper"> 
                        <img id="profile-pic"  src="{% static 'images/202313510.png' %}" > 
                        <br>
                        <h4>Hi, I am Basifrank</h4>
                        <p>I love to code, doing research and having great conversation</p>
                    </div>

                </div>

                <div class="col-md-9">

                    <div class="card card-body h-100  border-info">

                        <h4>My first Job as a python backend developer</h4>

                        <hr>

                        <p> I am yet to get a job as developer. In the meantime, 
                            i am working as hard as I can to continuously improve my skills one day at a time.
                        </p>

                        <p> Transitioning into full time backend developer has not been all rosy. There has been some inconsistencies along the way.
                            I hope to find rest and regularly do all I can to be the best python developer ever.
                        </p>

                        <p> I believe that with consistency, I will surely grow my skills exponentially.
                            For me to succeed, I have decided to focus on building django projects as againts taking courses.
                            I am not ruling out completely the need to learn but more time will be made available to working on projects.
                        </p>

                        <ul class="social-links">
                            <li><img class="social" src="{% static 'images/facebook.png' %}" ></li>
                            <li><img class="social" src="{% static 'images/linkedin.png' %}" ></li>
                            <li><img class="social" src="{% static 'images/twitter.png' %}" ></li>
                            <li><img class="social" src="{% static 'images/youtube.png' %}" ></li>

                        </ul>

                    </div>

                </div>

            </div>


            <br>
            <div class="row">

                <div class="col-md-6">

                    <div class="card card-body h-100">
                        <h5>Python Django Project</h5>
                        <hr>
                        <p>This Portfolio Website</p>
                        <p>In this project, I built a personal porfolio website using the python django framework.
                            I use the tutorial on Dennis Ivy youtube page. 
                            It is been interesting so far. I have used some lessons I learnt on the course backend course espcially as it relates 
                            to djinja template, views, template and many others.
                        </p>
                    </div>

                </div>

                <div class="col-md-6">

                    <div class="card card-body h-100">

                        <h5>The Next Step</h5>
                        <hr>
                        
                        <p>Having realised how interesting django is, I do not think i am going to stop now. I will continue working on django projects.
                            This I believe, will add more muscles to my understanding of how to use python django framework.
                        </p>

                    </div>

                </div>

            </div>

            <br>
            <div class="row">

                <div class="col-md-6">

                    <div class="card card-body h-100">
                        <h5>How I learn</h5>
                        <hr>
                        <p>Combination of Theory and Projects</p>
                        <p>I learn mostly by combining theory and projects. Once I have a good theoritical understanding of how things work, I strive hard to apply them on 
                            projects. Building prototype and porfolios
                        </p>
                    </div>

                </div>

                <div class="col-md-6">

                    <div class="card card-body h-100">

                        <h5>Experience</h5>
                        <hr>
                        <p>Previous Work Experience</p>
                        <p>My previous work experience has revolved around finance. I have had over 6 years experience in finance. 
                            Now, I moving into core product development with the view of becoming a python django backend developer.
                        </p>

                    </div>

                </div>

            </div>
            <br>
    </div>


</body>
</html>